.field{
    width: 25rem;
    height: 25rem;
    border: 0.0625rem solid black;
    border-radius: 0.625rem;
    position: relative;
}
.cell{
    box-sizing: border-box;
    width: 6.25rem;
    height: 6.25rem;
    border: 0.1875rem solid blue;
    border-radius: 0.625rem;
    position: absolute;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}